pipeline/project-pipeline.json
{
	"name": "project-pipeline",
	"properties": {
		"activities": [
			{
				"name": "lookup_from_postgres",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": "SELECT \n    table_schema AS SchemaName,\n    table_name AS TableName\nFROM \n    information_schema.tables \nWHERE\n    table_schema = 'ecommerce';"
					},
					"dataset": {
						"referenceName": "PostgreSqlLookupDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachForTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_from_postgres",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_from_postgres').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyTables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source",
									"query": {
										"value": "@concat('select * from ', item().schemaname, '.', item().tablename)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "PostgreSqlCopySourceDS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CopyTableADLSDS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().schemaname",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEachForTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/abhinav@prashantmore879gmail.onmicrosoft.com/NoteBook1"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksLS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook2",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/abhinav@prashantmore879gmail.onmicrosoft.com/NoteBook2_Date_Conversion"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksLS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook3",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/abhinav@prashantmore879gmail.onmicrosoft.com/NoteBook3"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksLS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-12-06T07:49:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}